<a href="https://colab.research.google.com/github/ORCT/ds-section6-project/blob/main/binary_estimate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('binary_dataset.csv')
df

,x1,x2,x3,x4,x5,x6,x7,x8,y
0,136.093750,51.691005,-0.045909,-0.271816,9.342809,38.096400,4.345438,18.673649,0
1,99.367188,41.572202,1.547197,4.154106,27.555184,61.719016,2.208808,3.662680,1
2,100.890625,51.890394,0.627487,-0.026498,3.883779,23.045267,6.953168,52.279440,0
3,120.554688,45.549905,0.282924,0.419909,1.358696,13.079034,13.312141,212.597029,1
4,121.882812,53.042675,0.200521,-0.282219,2.116221,16.580876,8.947603,91.011762,0
5,125.210938,51.175197,0.139851,-0.385737,1.147993,12.414012,14.068797,228.131554,0
6,141.968750,50.470898,0.244974,-0.342665,2.823579,16.238188,8.207744,85.532584,0
7,136.500000,49.932767,0.044623,-0.374311,1.555184,12.813538,13.314339,214.813089,0
8,83.679688,36.379281,0.572532,2.664611,4.040970,23.169129,7.006681,53.514005,0
9,27.765625,28.666042,5.770087,37.419009,73.112876,62.070220,1.268206,1.082920,1
10,135.859375,51.937272,0.065769,-0.366114,20.774247,52.772648,2.730909,6.607440,0
11,114.281250,41.253965,0.411821,0.616996,2.412207,20.427942,9.198392,88.370580,0
12,112.437500,38.295673,0.501943,1.074840,2.812709,18.136883,7.859968,71.299449,0
13,23.625000,29.948654,5.688038,35.987172,146.568562,82.394624,-0.274902,-1.121848,1
14,94.585938,35.779823,1.187309,3.687469,6.071070,29.760400,5.318767,28.698048,1
15,137.242188,46.454740,0.045257,-0.438858,59.495819,77.755357,0.719748,-1.183162,0
16,123.531250,53.348784,0.072078,-0.071601,0.781773,10.570833,17.118300,339.660826,0
17,123.468750,45.475085,0.345781,0.647415,32.919732,65.094197,1.605538,0.871364,1
18,103.523438,45.725739,0.336533,0.520558,11.289298,39.116453,3.509139,11.503980,0
19,107.929688,50.581954,0.320399,0.277613,2.022575,19.806556,10.472251,113.011537,0

In [7]:
df.iloc[0:1, 0:8] * np.random.rand(df.shape[1]-1) + np.random.rand(1)

ValueError: ignored

In [ ]:
def data_load(dir):
  return pd.read_csv(dir)

In [ ]:
def X_y_split(df):
  target = 'y'
  X = df.drop(target, axis=1)
  y = df[target]
  return X, y

In [ ]:
def train_test_split(df):
  test_idx = np.random.randint(range(0, 20), size=4)
  test = df[test_idx]
  train = df.drop(test_idx)
  return train, test

In [ ]:
def init_w_b(df):#가중치 초기화 범위 어떻게함, 일단 0,1 사이값으로
  weight = np.random.rand(df.shape[1])
  bias = np.random.rand(1)
  return weight, bias

In [ ]:
def batch_split(df):
  batch_size = 4

In [ ]:
def normalize_0_1(num_list):
  ''' num_list를 받아서 0~1사이로 바꿔가지고 임계치로 계산할라고'''
  #근데 그러려면 어떻게 해야할까 비례식으로 풀 수 있을텐데 가볍게
  #min : 0 = max : 1
  #아 이렇게 계산하면 식이 성립이 안되잖아 식으로 사용할 수가 없네

In [ ]:
def classify_0_1(df, weight, bias):
  '''df의 행에다 weight 배열을 각각 특성마다 곱하고 bias를 더한 값을 시리즈든 데이터프레임이든으로 만들어서 predict라는 이름으로 반환
  그래야지 y값이랑 비교하지'''
  weight_sums = []
  for i in range(len(df)):
    weight_sum = df.iloc[i, 0:8] * weight + bias
    weight_sums.append(weight_sum)
  #0,1 사이로 정규화 해야겠네
  threshold = 0.5
  #그리고 정규화된 데이터로 판단 임계치 이하면 0으로 하지뭐
  #그래서 predict로 만들어서 lambda로 값을 바꾸던지 아니면 if문으로 컴프리헨션 해서 True False로 반환해도 될듯
  return weight_sums # 리스트 반환, 시리즈나 데이터프레임 형태가 좋을 것 같다

In [ ]:
def main():
  dir = 'binary_dataset.csv'
  data_load(dir)